.app {
  background-color: #fafafa;
}
.app__headerImage {
  width: 110px;
  object-fit: contain;
}
.app__header {
  position: sticky;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.login_logo {
  width: 100%;
}
.app__posts {
  padding: 20px;
}
.uploadVolume {
  padding: 5px;
  margin-top: 10px;
  position: fixed;
}
.app__loginContainer .button {
  background-color: rgba(255, 255, 255, 0.014) !important;
  margin-right: 10px;
  color: black;
  border-radius: 4px;
  border: 0.5px solid black;
}
